* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round';
    overflow-x: hidden;
}

/*barra de nav*/
header {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 55px;
    padding: 0 10px;
}

#menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.seccion {
    margin-right: 20px;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.seccion a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.seccion::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: #333;
    border-radius: 2px;
    bottom: 10px;
    left: 0;
    transition: height 0.3s;
}

.seccion:hover::after {
    height: 4px;
}

.with-dropdown:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 0.39px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.subseccion a {
    padding: 10px 20px;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.svg-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.svg-container img {
    transition: transform 0.3s;
    width: 10px;
    margin-left: 5px;
}

.seccion:hover .svg-container img {
    transform: rotate(180deg);
}

#cerrar-menu {
    display: none;
    position: absolute;
    bottom: 0%;
}

#cerrar-menu a {
    color: red;
}

#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo p {
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}

.Icono {
    width: 35px;
}

#gold-div {
    display: flex;
    height: 10px;
    width: 100%;
    background-color: #eeb810;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

/*menu de hamburguesas */
.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

#mentext {
    color: #333;
    font-weight: bold;
    position: relative;
    display: none;
    align-items: center;
    padding: 10px 40px;
    margin: 5px;
    height: 60px;
    font-size: 30px;
    border-bottom: #eeb810 solid 5px;
}

#oscuridad {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 990;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../../IMG/fondo_difuminado_01.jpg);
    background-size: cover;
    animation: changeBackground 40s linear infinite;
}

@keyframes changeBackground {
    0% {
        background-image: url('../../IMG/fondo_difuminado_01.jpg');
    }

    21% {
        background-image: url('../../IMG/fondo_difuminado_01.jpg');
    }

    25% {
        background-image: url('../../IMG/fondo_difuminado_02.jpg');
    }

    46% {
        background-image: url('../../IMG/fondo_difuminado_02.jpg');
    }

    50% {
        background-image: url('../../IMG/fondo_difuminado_03.jpg');
    }

    71% {
        background-image: url('../../IMG/fondo_difuminado_03.jpg');
    }

    75% {
        background-image: url('../../IMG/fondo_difuminado_04.jpg');
    }

    96% {
        background-image: url('../../IMG/fondo_difuminado_04.jpg');
    }

    100% {
        background-image: url('../../IMG/fondo_difuminado_01.jpg');
    }
}

.logo_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.logo_imagen {
    display: flex;
    width: 40%;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.slogan_texto {
    width: 60%;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.boton_contactenos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.boton_contacto {
    padding: 10px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #efb810;
    border-radius: 100px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.boton_contacto:hover {
    transform: scale(1.1);
}

/*quienes somos*/
.sobre_empresa {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 5px;
}

.sobre_nosotros {
    display: flex;
    width: 100%;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.texto_sobre {
    color: #333;
    font-size: 20px;
    margin: 0px;
}

.sobre_texto {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 50px;
}

.sobre_imagenes {
    justify-content: left;
    display: flex;
    width: 60%;
}

.seccion_01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
}

.seccion_02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 10px;
}

.prom_01 {
    display: flex;
    background-image: url(../../IMG/imagen_promocional_03.jpg);
    background-size: 290px;
    background-position: 0px;
    border-radius: 10px;
    width: 230px;
    height: 410px;
    transition: background-size 0.3s, background-position 0.3s;
}

.prom_01:hover {
    background-size: 300px;
    background-position: -10px;
}

.prom_02 {
    display: flex;
    background-image: url(../../IMG/imagen_promocional_01.jpg);
    background-size: 350px;
    background-position: 0px;
    border-radius: 10px;
    width: 350px;
    height: 180px;
    margin-bottom: 20px;
    transition: background-size 0.3s, background-position 0.3s;
}

.prom_02:hover {
    background-size: 360px;
    background-position: -10px;
}

.prom_03 {
    display: flex;
    background-image: url(../../IMG/imagen_promocional_02.jpg);
    background-size: 400px;
    background-position: 0px;
    border-radius: 10px;
    width: 400px;
    height: 210px;
    transition: background-size 0.3s, background-position 0.3s;
}

.prom_03:hover {
    background-size: 410px;
    background-position: -10px;
}

.servicios_destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../../IMG/fondo_difuminado_01.jpg);
    background-size: cover;
    animation: changeBackground 40s linear infinite;
}

.servicio_titulo {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 5px solid #efb810;
    border-radius: 30px;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    padding: 0px;
    margin: 20px 20px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cuadro {
    display: flex;
    border-radius: 20px;
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.cuadro:hover {
    transform: scale(1.05);
    cursor: pointer;
    z-index: 0;
}

.foto {
    display: flex;
    width: auto;
    height: 160px;
    border-radius: 20px 20px 0 0;
    border: 5px solid #eeb810;
}

.contenedor_texto {
    display: flex;
    width: 300px;
    height: 60px;
    background-color: #efb810;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.texto {
    width: 300px;
    height: 180px;
    padding: 0px;
    font-size: 20px;
    color: #1c1c1c;
    text-align: left;
    align-items: center;
}

.portafolio_de_eventos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.eventos_titulo {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    padding: 0px;
    margin: 20px 0px;
}

.eventos {
    display: flex;
    width: 100%;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 11px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    padding: 20px 0px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}


.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border: 5px solid #eeb810;
    border-radius: 8px;
}

.carousel .card .img {
    height: 200px;
    border-radius: 4px 4px 0 0;
    border-bottom: 5px solid #eeb810;
    width: 100%;
}

.carousel .card h2 {
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0 5px;
    width: 100%;
    height: 40px;
}

.carousel .card span {
    color: #333;
    font-size: 18px;
    width: 100%;
    height: 95px;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    z-index: 100;
}

.footer-bar {
    display: flex;
    justify-content: center;
    background-color: #efb810;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.Titulo_Footer {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    margin: 20px 0;
}

.Lista_Footer {
    padding: 0px 15px;
    margin: 0px;
    font-size: 20px;
}

.Lista_Footer li {
    margin-bottom: 10px;
}

.Lista_Footer li a {
    color: #ffffff;
    text-decoration: none;
}

.Lista_Footer li a:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.3s;
}

.Que_Realizamos {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: #ffffff;
    padding: 20px;
    margin: 0px;
}

.Siguenos_Redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: #ffffff;
    padding: 20px;
    margin: 0px;
}

.Redes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.Boton_Red {
    display: flex;
    border: 4px solid #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    background-color: transparent;
    margin: 15px;
}

.Boton_Red:hover {
    transform: scale(1.1);
}

.Quires_Contactarnos {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: #ffffff;
    padding: 20px;
    margin: 0px;
}

/*responsivo*/
@media screen and (max-width: 1120px) {
    .prom_03 {
        display: none;
    }

    .sobre_imagenes {
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {
    #mentext {
        display: flex;
    }

    #cerrar-menu {
        display: flex;
        margin: 0;
    }

    .hamburger-menu {
        display: block;
    }

    #menu {
        display: none;
        box-sizing: border-box;
        background-color: white;
        flex-direction: column;
        position: fixed;
        padding: 0 20px;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
        animation: slideIn 0.5s forwards;
        z-index: 995;
    }
    .sobre_imagenes {
        width: 50%;
    }
    .sobre_texto{
        width: 50%;
    }

    .seccion {
        box-sizing: border-box;
        margin: 5px;
        padding: 10px 40px;
        position: relative;
        display: flex;
        height: 50px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .seccion::after {
        background-color: transparent;
    }

    .hamburger-menu.active+#menu {
        display: flex;
    }

    .hamburger-menu.active {
        display: none;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 800px) {
    .sobre_empresa {
        flex-direction: column;
    }

    .sobre_imagenes {
        align-items: center;
        justify-content: center;
    }

    .seccion_02 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prom_03{
        display: flex;
    }

    .seccion_01 {
        display: none;
    }

    .sobre_texto,
    .sobre_imagenes {
        width: 100%;
    }

    .footer-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Que_Realizamos {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    .Siguenos_Redes {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .Quires_Contactarnos {
        width: 100%;
        padding: 20px 0;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .carousel .card h2 {
        font-size: 20px;
    }
    .carousel .card span {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .logo_imagen {
        width: 60%;
    }
    .contenedor {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 450px) {
    #logo p {
        display: none;
    }
    .prom_02 {
        display: flex;
        background-image: url(../../IMG/imagen_promocional_01.jpg);
        background-size: 300px;
        background-position: 0px;
        border-radius: 10px;
        width: 300px;
        height: 130px;
        margin-bottom: 20px;
        transition: background-size 0.3s, background-position 0.3s;
    }
    
    .prom_02:hover {
        background-size: 310px;
        background-position: -10px;
    }
    
    .prom_03 {
        display: flex;
        background-image: url(../../IMG/imagen_promocional_02.jpg);
        background-size: 350px;
        background-position: 0px;
        border-radius: 10px;
        width: 350px;
        height: 160px;
        transition: background-size 0.3s, background-position 0.3s;
    }
    
    .prom_03:hover {
        background-size: 360px;
        background-position: -10px;
    }
    .logo_imagen {
        width: 80%;
    }
    .sobre_imagenes {
        transform: scale(0.8);
    }
    .contenedor {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 300px) {
    .prom_03 {
        display: none;
    }
}